<p id="notice"><%= notice %></p>

<h1>Mis cursos</h1>

<table class= "mx-auto text-center">
  <thead >
    <tr>
      <%# <th>Grade</th> %>
      <th>Course</th>
      <th>Departament</th>
      <th>Total Students</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @assessments.each do |assessment| %>
      <tr>
        <%# <td><%= assessment.grade </td> %>
        <td><%= assessment.course %></td>
        <td><%= assessment.departament %></td>
        <td><%= assessment.course.users.each do |u| u.name end%></td>
        
        <td><%= link_to 'Show', assessment %></td>
        <td><%= link_to 'Edit', edit_assessment_path(assessment) %></td>
        <td><%= link_to 'Destroy', assessment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assessment', new_assessment_path %>
