<p id="notice"><%= notice %></p>

<p>
  <strong>Grade:</strong>
  <%= @assessment.grade %>
</p>

<p>
  <strong>Course:</strong>
  <%= @assessment.course %>
</p>

<p>
  <strong>Departament:</strong>
  <%= @assessment.departament %>
</p>

<p>
  <strong>Students (pendiente):</strong>
  <%= @assessment.users %>
  
</p>

<%= link_to 'Edit', edit_assessment_path(@assessment) %> |
<%= link_to 'Back', assessments_path %>
