

<% if current_user.present? %>

    	<div id="wrapper">

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="single.html">We are developing for you</a></h2>
										<p>We are working for you! We will incorporate new improvements by the end of the season</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">November 4, 2021</time>
										<a href="#" class="author"><span class="name">SchoolApp Team</span><%= image_tag("avatar.jpg")%> </a>
									</div>
								</header>
								<a href="single.html" class="image featured">  <%= image_tag("pic01.jpg")%> </a>
                               
								<p> We are working for you! We will incorporate new improvements by the end of the season.</p>
								<footer>
									<ul class="actions">
										<li><a href="single.html" class="button large">Continue Reading</a></li>
									</ul>
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon solid fa-heart">28</a></li>
										<li><a href="#" class="icon solid fa-comment">128</a></li>
									</ul>
								</footer>
							</article>

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="single.html">Organize your week</a></h2>
										<p>we are working on a view to implement a customizable calendar function</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-10-25">October 25, 2021</time>
										<a href="#" class="author"><span class="name">SchoolApp team</span><%= image_tag("avatar.jpg")%> /a>
									</div>
								</header>
								<a href="single.html" class="image featured"> <%= image_tag("pic02.jpg")%></a>
								<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper...</p>
								<footer>
									<ul class="actions">
										<li><a href="single.html" class="button large">Continue Reading</a></li>
									</ul>
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon solid fa-heart">28</a></li>
										<li><a href="#" class="icon solid fa-comment">128</a></li>
									</ul>
								</footer>
							</article>
                        <!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="single.html">10 Steps To Ace Your Next Test</a></h2>
										<p>We promise your teacher isn’t out to get you. As unpleasant as taking a test can often be, it actually does more than just show your teacher what you know: it can actually help you learn.</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-10-25">October 25, 2015</time>
										<a href="#" class="author"><span class="name">SchoolApp team</span><%= image_tag("avatar.jpg")%> /a>
									</div>
								</header>
								<a href="single.html" class="image featured"> <%= image_tag("pic03.jpg")%></a>
								<p>Will there be multiple-choice questions or short answers? Will you write an in-class essay? The goals and layout of the test will determine how you tackle learning the material...</p>
								<footer>
									<ul class="actions">
										<li><a href="single.html" class="button large">Continue Reading</a></li>
									</ul>
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon solid fa-heart">15</a></li>
										<li><a href="#" class="icon solid fa-comment">78</a></li>
									</ul>
								</footer>
							</article>

					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								
								<header>
									<h2>Welcome to SchoolApp Open Beta</h2>
									<div class="media-body px-3">
                                        <h5 class="mt-0">Name: <%= current_user.name %> <span> <%= current_user.last_name %></span> </h5>
            
                                        <h5 class="mt-0">Birth Date: <%= current_user.birth_date %></h5>
                                        <small>Address: <%= current_user.address %></small> <br>  
                                        <small>Email: <%= current_user.email %></small> <br> 
                                        <small class="font-weight-bold text-success">role: <%= current_user.role %></small>
                                    </div>
                                    <br>
                                    <div >
                                        <a><%= link_to "Edit Profile", edit_user_registration_path,class:'button scrolly btn-info text-center' %></a>
                                    </div>
								</header>
							</section>

						<!-- Mini Posts -->
							<section>
								<div class="mini-posts">

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="single.html">How to avoid accidents back home</a></h3>
												<time class="published" datetime="2015-10-20">October 20, 2015</time>
												<a href="#" class="author"><%= image_tag("avatar.jpg")%> </a>
											</header>
											<a href="single.html" class="image"><%= image_tag("pic04.jpg")%></a>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="single.html">Girls' school hockey team qualify for semi-final match</a></h3>
												<time class="published" datetime="2015-10-19">October 19, 2015</time>
												<a href="#" class="author"><%= image_tag("avatar.jpg")%> </a>
											</header>
											<a href="single.html" class="image"><%= image_tag("pic05.jpg")%></a>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="single.html">Musical workshop every Friday after school</a></h3>
												<time class="published" datetime="2015-10-18">October 18, 2015</time>
												<a href="#" class="author"><%= image_tag("avatar.jpg")%> </a>
											</header>
											<a href="single.html" class="image"><%= image_tag("pic06.jpg")%></a>
										</article>

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="single.html">Art workshop reopens weekends due to loss of pandemics</a></h3>
												<time class="published" datetime="2015-10-17">October 17, 2015</time>
												<a href="#" class="author"><%= image_tag("avatar.jpg")%> alt="" /></a>
											</header>
											<a href="single.html" class="image"><%= image_tag("pic07.jpg")%></a>
										</article>

								</div>
							</section>

						<!-- Posts List -->
							<section>
								<ul class="posts">
									<li>
										<article>
											<header>
												<h3><a href="single.html">Science fair 2021 </a></h3>
												<time class="published" datetime="2015-10-20">October 20, 2015</time>
											</header>
											<a href="single.html" class="image"><%= image_tag("pic08.jpg")%></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="single.html">Google meet or zoom?</a></h3>
												<time class="published" datetime="2015-10-15">October 15, 2015</time>
											</header>
											<a href="single.html" class="image"><%= image_tag("pic09.jpg")%></a>
										</article>
									</li>
									<li>
										<article>
											<header>
												<h3><a href="single.html">Speling Bee 2021</a></h3>
												<time class="published" datetime="2015-10-10">October 10, 2015</time>
											</header>
											<a href="single.html" class="image"><%= image_tag("pic10.jpg")%></a>
										</article>
									</li>
									
								</ul>
							</section>

						<!-- About -->
							<section class="blurb">
								<h2>About</h2>
								<p>School app was born from the need to improve effective communication in a safe and ergonomic environment for teachers, students and parents..</p>
								<ul class="actions">
									<li><a href="#" class="button">Learn More</a></li>
								</ul>
							</section>

						<!-- Footer -->
							<section id="footer">
								<ul class="icons">
									<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
									<li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
								</ul>
								<p class="copyright">&copy; SchoolApp. Design: <a href="http://html5up.net">Bazz666</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
							</section>

					</section>

			</div>	
    


<% else %>

    <!-- One -->
    <section id="main" class="post text-center">
        <section>
            <a href="#" class="image"><%= image_tag("pic12.jpg")%></a>
            <div class="content">
                <div class="inner">
                    <h2>Who is SchoolApp? </h2>
                    <p>School APP is the solution for a better effective communication between the different roles involved in the structure of a school, attending to all the needs detected during the pandemic.</p>

                    <p>Our application seeks to give the user all the comfort of being able to satisfy all their requirements.
                    For this we seek to integrate and improve various external elements that have helped this work..</p>
                    
                </div>
            </div>
        </section>

        <section>
            <a href="#" class="image "><%= image_tag("pic01.jpg")%></a>
            <div class="content text-center">
                <div class="inner">
                    <h2>we are improving day by day</h2>
                    <p>
                        We seek to improve, the application is open to all public, we value any feedback or opinion, try the beta now! 
                    </p>
                    
                </div>
            </div>
        </section>
    </section>

    <!-- Two -->
    <section id="two" class="post text-center">
        <div class="inner">
        <h2>What we do ?</h2>
        <p>
            SchoolApp is a educational management platform that improves effective communication between its users in a closed and safe environment
        </p>
        <div class="features">
            <section>
                <span class="icon solid major fa-comments"></span>
                <h3>Global Mesagges</h3>
                <p>send important messages to several users of the same course.</p>
            </section>
            <section>
                <span class="icon solid major fa-chart-pie"></span>
                <h3>Dynamic Graphics</h3>
                <p>we are working to bring you the most relevant indicators regarding the application.</p>
            </section>
            <section>
                <span class="icon solid major fa-lock"></span>
                <h3>Safe environment</h3>
                <p>Contact only people you know.</p>
            </section>
            <section>
                <span class="icon solid major fa-tasks"></span>
                <h3>Control Attendance and grades</h3>
                <p>check the participation of your students.</p>
            </section>
            <section>
                <span class="icon solid major fa-code"></span>
                <h3>Public Code </h3>
                <p>The code in github is public, you can see the code and contribute if you wish.</p>
            </section>
            <section>
                <span class="icon solid major fa-calendar-alt"></span>
                <h3>Plan your week</h3>
                <p>We are working on a calendar function so we don't forget what is important.</p>
            </section>
            <section>
                <span class="icon solid major fa-mobile"></span>
                <h3>Responsive Aplication</h3>
                <p>the creation of this application is based on the concept "first mobile".</p>
            </section>
        
    </section>


<!-- Footer -->
    <hr>
    <section id="register" class="post text-center">
        <div>

            <h2 class =" py-5">Test the beta app for Free</h2>
            <p>sign up for free or sign up with github and try the beta version.</p>

            <div class="container mx-auto text-center">
                
                <a><%= link_to "Create Account", new_user_registration_path,class:'button scrolly btn-info mx-auto  my-3 text-center' %></a>
                <span>
                
                <a><%= link_to "Login", user_session_path,class:'button scrolly btn-info mx-3 text-center' %></a>
                <hr>
			
            </div> 
            
        </div>
    </section>
    <hr>

    <section class= "post text-center">
        <h2>Contact us</h2>
        <dl class="alt">
            
            <dd>Address: 1234 Somewhere Road &bull; Nashville, TN 00000 &bull; USA</dd>
        
            <dt>Phone: (+569) 97259-7302 </dt>
            
            <dd>Email: <a href="#">info@schoolapp.cl</a></dd>
        </dl>
        <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon brands fa-facebook-f alt"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li>
            <li><a href="#" class="icon brands fa-dribbble alt"><span class="label">Dribbble</span></a></li>
        </ul>
    </section>
    <hr>
        <p class="copyright text-centerx">&copy; Untitled. Design: <a href="https://html5up.net">Bazz666</a>.</p>
    

		

    

    



<% end%>
