<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Teachers:</strong>

 <% @course.users.teacher.each do |teacher| %>
    <%= teacher.name %>
  <% end %>
</p> 

<p>
  <strong>Students:</strong>

  <% @course.users.student.each do |student| %>
    <%= student.name %>
  <% end %>
  
</p> 


 


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
